.difficulty-container {
    height: 78vh; 
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
  }

.title {
  color: #f05d23;
}

.list{
  width: 348px;
  padding: 0px;
  gap: 200px;
  margin-bottom: 50px;
  border-radius: 8px;
  opacity: 0px;
  display: flex;
  justify-content: baseline;
  flex-direction: row;
}

.buttonDifficulty{
    padding: 20px 70px;
    border-radius: 10px;
    border: 0;
    margin-left: 30px;
    background-color: #019e30;
    letter-spacing: 2px;
    font-size: 15px;
    box-shadow: #14770b 0px 10px 0px 0px;
    color: #ffffff;
    cursor: pointer;
}  


.buttonDifficulty:hover {
    background-color: #15eb67;
    box-shadow: #139e48 0px 7px 0px 0px;
  }